<% layout('layouts/boilerplate.ejs') -%>

    <div class="container col-md-5 m-auto">
        <div class="shadow card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Sign in to Flitter</h2>
                <p class="card-text">
                    <%- include("../partials/flash.ejs") %>
                        <form action="/auth/login" method="POST" class="validate-form mb-3" novalidate>
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" id="username" class="form-control mb-3" required>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control mb-3" required>
                            <button class="btn btn-info offset-3 col-6">
                                Sign In
                            </button>
                        </form>
                        <div class="text-center">
                            <a href="/auth/forgot" class="btn btn-outline-secondary mb-4">Forgot password?</a> <br>
                            <p>Dont have an account? <a href="/auth/register" class="card-link">Sign up</a></p>
                        </div>
                </p>
            </div>
        </div>
    </div>