<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flitter :)</title>
</head>

<body>
    <h1>Home | Flitter</h1>
    <hr>
    <ul>
        <% for(let t of allTweets) { %>
            <li>
                <strong>
                    <%= t.username %>
                </strong> </br>
                <%= t.tweet %> <a href="/tweets/<%= t._id%>">Details</a>
            </li> </br>
            <% } %>
    </ul>
    <hr>
    <a href="/tweets/new" style="margin-left: 20px;">New Tweet</a>
</body>

</html>