<% layout('layouts/boilerplate.ejs') -%>
    <h1 class="px-4"><span class="me-4"><a href="/fleets/<%= theFleet._id %>" class="text-dark"
                style="text-decoration:none">&loarr;</a></span> Edit |
        Flitter </h1>
    <hr>
    <div class="container mt-4 ">
        <form action="/fleets/<%= theFleet._id %>?_method=PUT" method="POST" class="validate-form" novalidate>
            <div class="mb-3 offset-3 col-6">
                <label for="username" class="form-label">Username:</label> </br>
                <input type="text" name="fleet[username]" id="username" class="form-control"
                    value="<%= theFleet.username %>" required>
            </div>
            <div class="mb-3 offset-3 col-6">
                <label for="text" class="form-label">Fleet:</label> </br>
                <textarea name="fleet[text]" id="text" cols="30" rows="3" class="form-control"
                    required><%= theFleet.text %></textarea>
            </div>
            <div class="mb-3 offset-3">
                <button class="btn btn-warning">Edit</button>
            </div>
        </form>
    </div>