<% layout('layouts/boilerplate.ejs') -%>
    <h1 class="px-4">Home | Flitter</h1>
    <hr>

    <div class="offset-2 col-8">
        <div class="container py-3">
            <a href="/fleets/new" style="margin-left: 20px;">New Fleet</a>
        </div>
        <ul style="list-style-type:none">
            <% for(let t of allFleets) { %>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= t.username %>
                            </h5>
                            <p class="card-text">
                                <%= t.text %>
                            </p>
                            <a href="/fleets/<%= t._id%>" class="card-link">Details</a>
                        </div>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>