<% layout('layouts/boilerplate.ejs') -%>
    <h1 class="px-4"><span class="me-4"><a href="/fleets" class="text-dark"
                style="text-decoration:none">&loarr;</a></span>
        New | Flitter </h1>
    <hr>
    <div class="container mt-4">
        <form action="/fleets" method="POST" class="validate-form" novalidate>
            <div class="mb-3 container offset-sm-3 col-sm-6">
                <label for="text" class="form-label">Fleet:</label>
                <textarea name="fleet[text]" id="text" cols="30" rows="5" class="form-control"
                    placeholder="Your fleet here..." required></textarea>
            </div>
            <div class="mb-3 container offset-sm-3">
                <button class="btn btn-success">Post</button>
            </div>
        </form>
    </div>