<% layout('layouts/boilerplate.ejs') -%>
    <h1><span class="me-4"><a href="/fleets" class="text-dark" style="text-decoration:none">&loarr;</a></span>
        New | Flitter </h1>
    <hr>
    <div class="container mt-4">
        <form action="/fleets" method="POST">
            <div class="mb-3 offset-3 col-6">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="fleet[username]" id="username" class="form-control"
                    placeholder="Write your username" required>
            </div>
            <div class="mb-3 offset-3 col-6">
                <label for="fleet" class="form-label">Fleet:</label>
                <textarea name="fleet[fleet]" id="fleet" cols="30" rows="5" class="form-control"
                    placeholder="Your fleet here..." required></textarea>
            </div>
            <div class="mb-3 offset-3 col-6">
                <label for="time" class="form-label">Enter the current time:</label>
                <input type="time" name="fleet[time]" id="time" class="form-control" required>
            </div>
            <div class="mb-3 offset-3">
                <button class="btn btn-success">Post</button>
            </div>
        </form>
    </div>